
body{
    background-color: black;
    color: rgb(2, 255, 23);
    overscroll-behavior: none;       /* prevents over-scrolling / bounce */
    overflow-x: hidden;  
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
}

h1{
    color: rgb(255, 0, 0);
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    border-radius: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size:medium;
    transition: 0.3s;
    background-color: blue;
    border: solid white 1px;
    border-radius: 10px;
    padding: 4px;
}

.nav-links a:hover {
    color: #00ff9d;
    background-color: rgb(6, 45, 63);
}


.imge{
    width:80%;
    border-radius: 20px;
    height: 350px;
}

.list1{
    font-size: large;
}

form{
    font-size: large;
    border: solid aquamarine 2px;
    border-radius: 10px;
    padding: 10px;
}

input{
    padding: 4px;
    font-size: large;
    background-color: black;
    margin:8px;
    color: green;
    border: solid aquamarine 2px;
    border-radius: 10px;
}

input::placeholder{
    color: green;
}